@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Nunito&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap);
/*simple_hblack
 2-100
 #000
 #C7C7BB
 #4C4C46
 */

html,
body {
    background-color: #e0e0e0;
    color: #4e5253;
    font-family: "Nunito", "Noto Sans JP", sans-serif;
    letter-spacing: 0.06rem;
}
#topbar {
    top: 0 !important;
}

ins {
    /* 広告か？ */
    display: none !important;
}
#topadbar {
    /* 広告か？ */
    display: none !important;
}

form {
    margin: 0px;
    padding: 0px;
}

table.form {
    margin: 25px 0px 0px 13px;
}

img {
    border: none;
}

ul.rss {
    margin: 0px;
    padding: 0px;
    width: 100%;
    text-align: center;
}

ul.rss li {
    border-right: #00c4b2 1px solid;
    display: inline;
    font-style: normal;
    font-weight: bold;
    letter-spacing: 0.06rem;
    margin-right: 0.3em;
    padding-right: 0.5em;
    padding-left: 0.2em;
}

ul.rss a:link {
    text-decoration: none;
}

ul.rss a:visited {
    text-decoration: none;
}

ul.rss a:hover {
    text-decoration: none;
}

ul.rss a:active {
    text-decoration: none;
}
/* 自分で用意したクラス */
.f_parent {
    display: flex;
}
.landtable {
    border-collapse: collapse;
}
.landtable th {
    text-align: center;
    border: solid 1px rgba(0, 0, 0, 0.125) !important;
    padding: 0.2rem 0.4rem;
}
.landtable td {
    border: solid 1px rgba(0, 0, 0, 0.125) !important;
    padding: 0.2rem 0.4rem;
}
a {
    color: #4e5253;
    text-decoration: none !important;
}
a:hover {
    color: #a1a1a1;
    text-decoration: none !important;
}

#container {
    background-color: transparent;
}
#banner {
    background-color: transparent;
}
#subbanner {
    background-color: transparent;
}

h1,
h2,
h3 {
    margin: 0px;
    padding: 0px;
}

.blogtitle {
    font-weight: bold;
    padding-left: calc(10px + 1rem);
    padding-right: calc(10px + 1rem);
    text-align: left;
    letter-spacing: 0.06rem;
}
.description {
    padding-left: calc(10px + 1rem);
    padding-right: calc(10px + 1rem);
    text-align: left;
    letter-spacing: 0.06rem;
}
#copyright {
    width: 100%;
    margin: 0px;
    padding: 0px;
    text-align: center;
}

.date {
    background-color: #e0e0e0 !important;
    outline: 0;
    padding: 5px 10px;
    border-radius: 15px 15px 0 0;
    border-bottom: solid 1px rgba(0, 0, 0, 0.125) !important;
}
#content {
    flex: 1 1 auto;
    background-color: transparent;

    div.blog {
        margin: 1rem;

        > div:not(.blogbody) {
            display: none;
        }
    }

    .blogbody {
        background-color: #e0e0e0 !important;
        border-radius: 15px;
        box-shadow:
            8px 8px 16px #bebebe,
            -8px -8px 16px #f3f3f3;
        outline: 0;
        margin: 1rem 1rem 2rem 0 !important;
    }
}

.title {
    border-bottom: solid 1px rgba(0, 0, 0, 0.125) !important;
    padding: 5px 10px;
}

.title2 {
    font-weight: bold;
}
/* ブログ記事内容部分 */
.main {
    padding: 10px !important;
    height: 100%;

    & img {
        display: block;
        margin: 1rem 0 0 0;
        max-width: 100%;
    }
    & script {
        display: none;
    }
}

.posted {
    text-align: right;
    padding: 0 10px 10px 0;
}
/* サイドバー関連 */
#links {
    flex: 0 0 20vw;
    min-width: 250px;
    /* width: 30%; */
    text-align: left;
    padding: 0px 0px 0px 10px;
    margin: 0px;
    background-color: transparent;
    overflow: hidden;

    > div {
        background-color: #e0e0e0 !important;
        border-radius: 15px;
        box-shadow:
            8px 8px 16px #bebebe,
            -8px -8px 16px #f3f3f3;
        outline: 0;
        margin: 1rem 1rem 2rem 1rem !important;
        padding: 5px;
    }
    > div.calender {
        padding-bottom: 3px;
    }
    > div.ad {
        /* 謎に console.log("genieeテスト") って書いてあるので非表示にする */
        display: none;
    }
}

.sidetitle {
    border-bottom: solid 1px rgba(0, 0, 0, 0.125) !important;
    padding: 5px;
    font-weight: bold;
    text-align: center;
}
.side {
    padding: 5px 5px 10px 5px;
}

.inquiry {
    background-color: #e0e0e0 !important;
    border-radius: 15px;
    box-shadow:
        8px 8px 16px #bebebe,
        -8px -8px 16px #f3f3f3;
    outline: 0;
    margin: 1rem !important;
}

.menu {
    text-align: right;
}

.category-bar {
    background-color: #e0e0e0 !important;
    color: #4e5253 !important;
    border-top: 0 !important;
    border-right: 0 !important;
    border-bottom: solid 1px rgba(0, 0, 0, 0.125) !important;
    border-left: 0 !important;
    outline: 0 !important;
    padding: 0 10px;
}
.category-bar > a {
    color: #4e5253 !important;
    text-decoration: none !important;
}
.category-bar > a:hover {
    color: #a1a1a1 !important;
    text-decoration: none !important;
}

.comments-head {
    font-weight: bold;
    padding: 10px;
    border-bottom: solid 1px rgba(0, 0, 0, 0.125);
}

.comments-body {
    padding: 10px;
}

.comments-post {
    text-align: right;
    padding: 10px;
    border-bottom: solid 1px rgba(0, 0, 0, 0.125);
}

.trackback-url {
    font-weight: bold;
    padding: 10px;
}

.trackback-body {
    line-height: 135%;
    padding: 10px;
}

.trackback-post {
    text-align: right;
    padding: 10px;
    font-weight: bold;
}

label {
    font-weight: bold;
}

#author {
    width: 200px;
    border: solid 1px rgba(0, 0, 0, 0.125);
}

#email {
    width: 200px;
    border: solid 1px rgba(0, 0, 0, 0.125);
}

#url {
    width: 200px;
    border: solid 1px rgba(0, 0, 0, 0.125);
}

#text {
    width: 400px;
    height: 200px;
    border: solid 1px rgba(0, 0, 0, 0.125);
}
input {
    background-color: #f0f0f0 !important;
    border: solid 1px rgba(0, 0, 0, 0.125);
}
input[readonly],
input[disabled] {
    background-color: transparent !important;
    outline: 0;
}
input:focus {
    border: solid 2px rgba(0, 0, 0, 0.125) !important;
    outline: 0;
}
textarea {
    background-color: #f0f0f0 !important;
    border: solid 1px rgba(0, 0, 0, 0.125) !important;
}
textarea:focus {
    border: solid 2px rgba(0, 0, 0, 0.125) !important;
    outline: 0;
}

.pagetop {
    text-align: right;
    padding: 0 10px 10px 0;
}

.calendarhead {
    font-weight: bold;
    letter-spacing: 0.06rem;
    padding: 0px 0px 2px 0px;
    text-align: center;
}

.calendartable {
    margin: 2px auto;
    padding: 0px;
    text-align: left;
    empty-cells: show;
    border-spacing: 0px;
    border-collapse: collapse;
    border: solid 1px rgba(0, 0, 0, 0.125) !important;
}

.calendarweek {
    font-weight: bold;
    position: center;
}

.calendarwd {
    border-top: solid 1px rgba(0, 0, 0, 0.125) !important;
    border-left: none;
    border-right: none;
    border-bottom: solid 1px rgba(0, 0, 0, 0.125) !important;
    letter-spacing: 0.06rem;
    padding: 5px 0px 5px 5px;
}
.calendard {
    text-align: center;
    min-width: 28px;
    width: 1.5vw;
    max-width: 50px;
}
.calendard.sun {
    color: rgba(255, 0, 0, 0.5);
}
.calendard.sat {
    color: rgba(0, 0, 255, 0.5);
}
.calendard a {
    font-weight: bold;
}

.photo {
    text-align: center;
}

.nickname {
    font-weight: bold;
    margin: 10px 0px;
}

.quote {
    padding: 1px;
}

.blogtimes {
    margin: 0px 0px 16px 0px;
    text-align: center;
}

.powered {
    text-align: center;
    margin: 0px 0px 10px 0px;
}

.syndicate {
    text-align: center;
}

.checkers {
    margin-top: 10px;
}
